$color-primary: #ef6d63;
$color-primary-light: #fed4bd;
$color-secondary: #f7f1e9;
$color-secondary-light: #fcfbfa;
$color-tertiary: #639bef;
$color-quaternary: #0c8b91;

$color-text-dark: #231818;

$mobile: 475px;
$tablet: 800px;
