.btn {
  background-color: transparent;
  border: 0.15rem solid transparent;
  border-radius: 0.4rem;
  padding: 0 1.6rem;
  padding-top: 2.4rem;
  padding-bottom: 2.2rem;
  line-height: 0;
  font-family: inherit;
  text-transform: uppercase;
  color: transparent;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 6.15%;
  text-align: center;
  width: max-content;
  cursor: pointer;

  &--sm {
    padding-top: 2rem !important;
    padding-bottom: 1.9rem !important;
  }

  &-primary {
    color: #fff;
    background-color: $color-primary;

    &-outline {
      color: $color-primary;
      border-color: $color-primary;
    }

    &-no-border {
      color: $color-primary;
    }
  }
}
