.hero {
  padding: 0 4rem;
  min-height: 77vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &-container {
    display: flex;
    column-gap: 8rem;
    justify-content: center;
    align-items: center;
  }

  &-banner {
    max-width: 58.2rem;

    &__title {
      margin-bottom: 2rem;
    }

    &__body-text {
      margin-bottom: 3.2rem;
      font-weight: normal;
      font-size: 1.8rem;
      line-height: 145%;
      letter-spacing: 1.15%;
    }
  }

  &-slider {
    width: 100%;
    height: 43.9rem;
    max-width: 38.1rem;
    text-align: center;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    @include elevation-2;
  }
}
