.hero {
  padding: 0 4rem;
  min-height: 77vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &-container {
    display: flex;
    column-gap: 8rem;
    justify-content: center;
    align-items: center;
  }

  &-banner {
    max-width: 58.2rem;

    &__title {
      margin-bottom: 2rem;
    }

    &__body-text {
      margin-bottom: 3.2rem;
      font-weight: normal;
      font-size: 1.8rem;
      line-height: 145%;
      letter-spacing: 1.15%;
    }
  }

  &-slider {
    position: relative;
    max-width: 38.1rem;

    .hero__slide {
      display: flex;
      flex-direction: column;
      align-items: center;

      img:first-child {
        width: 10rem;
        height: auto;
        margin-bottom: 2.4rem;
      }
      img:last-child {
        width: 100%;
        height: auto;
      }
    }
  }

  @include media-view($laptop) {
    &-container {
      column-gap: 4rem;
    }

    &-slider {
      max-width: 28.1rem;
    }
  }

  @include media-view($tablet) {
    & {
      min-height: auto;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    &-container {
      flex-direction: column;
      row-gap: 6.4rem;
    }

    &-slider {
      max-width: 30rem;
    }
  }
  @include media-view($mobile) {
    &-slider {
      width: 100%;
      max-width: auto;

      .hero__slide {
        img:last-child {
          width: 80%;
        }
      }
    }
  }
}
