.promotions {
  background-color: $color-secondary;

  &-container {
    & > div + div {
      display: flex;
      justify-content: space-between;

      .promotion {
        p:first-child {
          margin-bottom: 2rem;
          span:first-child {
            font-size: 6.4rem;
          }
          span:nth-child(2) {
            font-size: 6.4rem;
            font-weight: 600;
          }
          span:nth-child(3) {
            font-size: 4rem;
            font-weight: 600;
          }
          span:nth-child(4) {
            display: inline-block;
            margin-left: 0.8rem;
            font-size: 2.4rem;
            font-weight: bold;
            text-transform: uppercase;
          }
          @include media-view($laptop) {
            span:first-child {
              font-size: 5vw;
            }
            span:nth-child(2) {
              font-size: 5vw;
            }
            span:nth-child(3) {
              font-size: 4vw;
            }
          }
          @include media-view($tablet) {
            span:first-child {
              font-size: 7vw;
            }
            span:nth-child(2) {
              font-size: 7vw;
            }
            span:nth-child(3) {
              font-size: 6vw;
            }
          }
          @include media-view($mobile) {
            span:first-child {
              font-size: 11vw;
            }
            span:nth-child(2) {
              font-size: 11vw;
            }
            span:nth-child(3) {
              font-size: 8vw;
            }
          }
        }
        p:last-child {
          text-transform: uppercase;
          letter-spacing: 5.15%;
          text-align: center;
        }
      }

      @include media-view($tablet) {
        & {
          display: grid;
          grid-template-columns: max-content max-content;
          justify-content: center;
          gap: 6.2rem;
        }
      }
      @include media-view($mobile) {
        & {
          display: grid;
          grid-template-columns: 1fr;
          justify-content: center;
          gap: 6.2rem;
          text-align: center;
        }
      }
    }
  }
}
