.solutions {
  padding: 12rem 4rem;

  .solution {
    display: flex;
    column-gap: 8rem;

    &__banner {
      a {
        position: relative;
        display: flex;
        margin-top: 2.4rem;
        @include nav-links;
        padding-left: 0;
        color: $color-tertiary;
        font-weight: bold;
      }
    }

    &--residential {
      margin-bottom: 6.4rem;
    }
  }
}
